@import "../../style-config/mixins.scss", "../../style-config/variable.scss";

.Intro-section {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include small-screen {
    // overflow: hidden;
    background: $light-blue;
  }

  .hero {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include small-screen {
      top: 28%;
    }
  }

  h1 {
    color: $white;
    @include typography(64px, 700, 1.2);
    @include small-screen {
      @include typography(28px, 700, 1.2);
    }
  }

  p {
    color: $white;
    margin: 20px 0;
    @include typography(18px, 400, 1.5);
    @include small-screen {
      width: 287px;
      @include typography(14px, 400, 1.5);
    }
  }
  .button-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    div {
      width: 200px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        @include typography(16px, 700, 2);
      }
      span {
        svg {
          font-size: 32px;
        }
      }
    }
    @include small-screen {
      gap: 20px;
      flex-direction: column;
    }
  }
}

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  border-radius: 8px;

  @include small-screen {
    top: 43%;
    width: 80%;
  }
}

.response-card {
  width: 170px;
  height: 80px;
  position: absolute;
  background-image: url("../../images/stats.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  left: 180px;
  bottom: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  div {
    margin-left: 15px;
    h4 {
      color: $light-blue;
      @include typography(16px, 700, 1.1);
      span {
        color: $dark-blue;
      }
    }
  }
  @include small-screen {
    width: 88.4px;
    height: 41.6px;
    left: 20px;
    bottom: 20px;
    border-radius: 10.4px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
    div {
      h4 {
        @include typography(8px, 700, 1.1);
      }
    }
  }
}

.leads-card {
  box-sizing: border-box;
  position: absolute;
  width: 230px;
  height: 130px;
  left: 100px;
  bottom: -10px;
  background: #ffffff;
  border: 1px solid #edf0f7;
  box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
    h1 {
      color: $light-blue;
      @include typography(48px, 700, 1);
      span {
        color: $dark-blue;
      }
    }
    p {
      width: inherit;
      margin: 0 !important;
      color: $grey;
      display: inline-block;
      @include typography(16px, 400, 1.5);
    }
  }
  @include small-screen {
    width: 73.6px;
    height: 41.6px;
    left: 300px;
    bottom: 170px;
    border-radius: 10.4363px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
    div {
      h1 {
        @include typography(15px, 700, 1);
      }
      p {
        @include typography(5px, 400, 1.5);
      }
    }
  }
}

.awards-card {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 80px;
  right: 150px;
  bottom: 300px;
  background: #ffffff;
  border: 1px solid #edf0f7;
  box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      svg {
        font-size: 32px;
        color: $light-blue;
      }
    }
  }
  h4 {
    @include typography(16px, 600, 1.2);
    margin-left: 18px;
    span {
      color: $light-blue;
      @include typography(16px, 500, 1.2);
    }
  }
  @include small-screen {
    width: 82px;
    height: 39px;
    left: 20px;
    bottom: 190px;
    border-radius: 10.4363px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
    div {
      span {
        svg {
          font-size: 20px;
          margin: 5px;
        }
      }
      h4 {
        @include typography(8px, 600, 1.2);
        margin-left: 10px;
        span {
          @include typography(8px, 600, 1.2);
        }
      }
    }
  }
}

.free-account-card {
  box-sizing: border-box;
  position: absolute;
  width: 294.93px;
  height: 130px;
  right: 120px;
  bottom: 80px;
  background: #ffffff;
  border: 1px solid #edf0f7;
  box-shadow: 0px 0px 0px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    text-align: center;
    h2 {
      color: $light-blue;
      @include typography(36px, 700, 1);
      span {
        color: $dark-blue;
      }
    }
    p {
      margin: 0 !important;
      color: $grey;
      @include typography(16px, 400, 1.5);
    }
  }

  @include small-screen {
    width: 160px;
    height: 70px;
    left: 125px;
    bottom: 80px;
    border-radius: 10.4363px;
    div {
      h2 {
        @include typography(18px, 700, 1);
      }
      p {
        
        @include typography(8px, 400, 1.5);
      }
    }
  }
}
